.loginWindow-header{

    border: 1px solid green;
    margin: 2%;
    text-align: center;

    > h2{
        font-size: 2.5rem;
        font-weight: bold;
    }

    > p{
        font-weight: 1.7rem;
    }
}