*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 16px;
}


@media (max-width: 1920) and (max-height:1080) {

    html{
        font-size: 20px;
        letter-spacing: 1px;
    }
   
}