.filterOptions-form{

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: inherit;
    font-size: unset;
    height: 320%;
    width: 300%;
    border: 2px solid brown;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
    border-top: none;
}


.clearfix:after { 
    
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }