.favorite-cart{

    width: 95%;
    min-height: 75vh;
    background-color: rgba(50, 205, 50, 0.9);
    box-shadow: 3px 3px 5px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5%;


        > .title{
            width: 40%;
            margin: 4% auto;
            text-align: center;
            text-transform: none;
            font-size: 2.4rem;
        }


      /*  > p{
            font-size: 1.5rem;
            font-weight: normal;
            margin-left: 7%;
            text-transform: none;
        }
    */
   

    & > .favoriteCart-columnTitles{

        font-weight: bold;
        text-transform: capitalize;
        color: brown;
        width: 90%;
        margin: 2% auto;
        border-bottom: 2px solid brown;


        > :nth-child(1){
            margin-left: 1%;
        }

        > :nth-child(2){
            margin-left: 25%;
        }

        > :nth-child(3){
            margin-left: 15%;
        }

        > :nth-child(4){
            margin-left: 8%;
        }
        > :nth-child(5){
            margin-left: 15%;
        }

        > p{
            margin: 1%;
            display: inline-block;
            font-size: 1.2rem;
        }
    }


        > .favoriteCart-content{ 

            display: flex;
            width: 90%;
            min-height: 6vh;
            color:brown;
            border: 1px solid rgb(2, 80, 2);
            align-items: center;
            margin: auto;

            > img{
                width: 2.5vw;
                height: 13vh;
                margin: 1% 4%;
            }

            > :nth-child(3){
                flex-basis: 40%;
                overflow: hidden;
                margin-left: 6%;
                margin-right: 5%;
            }

            > :nth-child(4){
                flex-basis: 10%;
                margin-left: 8%;
                margin-right: 5%;
            }

            > :nth-child(5){
                margin-left: 2%;
            }

            > :nth-last-child(1){
                margin-left: 8%;
                margin-right: 4%;
                flex-basis: 15%;
            }

            > button{

                @include greenButton(1.2rem, 1%);
                margin: 0 1%;
                flex-basis: 7%;

                &:hover{
                    @include greenButtonHover();
                    background-color: brown;
                }
            }


            > .nameWithDescr{

                > .beerTitle{
                    font-weight: bold;
                    margin-bottom: 5%;
                    font-size: 1.3rem;
                }

                > .description{
                    font-size: 1rem;
                }

                text-transform: none;
            }
        
        } 


     > .addToCart-btn{
        text-transform: none;
        font-size: 1.5rem;
    }

}
