
.shopping-cart{

    width: 95%;
    min-height: 75vh;
    background-color: rgba(50, 205, 50, 0.9);
    box-shadow: 3px 3px 5px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5%;


    & > .cart-progressBar{

        width: 60%;
        height: 2vh;
        background-color: rgb(182, 201, 143);
        margin: 5% auto;
        position: relative;

        > div{
            width: 6vh;
            height: 6vh;
            border-radius: 50%;
            position: absolute;
            background-color: rgb(182, 201, 143);
            font-size: 1.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 50%;
            transform: translate(-50%,-50%);

            &:nth-child(1){
                left: 0;
                background-color: green;
                color: rgb(182, 201, 143);
                border: 2px solid rgb(182, 201, 143);
            }
    
            &:nth-child(2){
                left: 33%;
            }
    
            &:nth-child(3){
                left: 66%;
            }
    
            &:nth-child(4){
                left: 100%;
            }
        }       
    }


    & > .cart-header{

        width: 90%;
        margin: 0 auto;        
        font-size: 2rem;
        font-weight: bold;

        > .title{    
            margin: 0 2% 0 7%;
            display: inline-block;
            position: relative;

            &::before{
                position: absolute;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 8%;
                left: -25%;
                display: block;
                content: "1";
                height: 145%;
                width: 20%;
                background-color: green;
                margin-right: 1%;
            }
        }

        > .amount{
            font-size: 2rem;
            font-weight: bold;
            display: inline-block;
        }

        > p{
            font-size: 1.5rem;
            font-weight: normal;
            margin-left: 7%;
            text-transform: none;
        }
    }


    & > .cart-columnTitles{

        font-weight: bold;
        text-transform: capitalize;
        background-color: rgb(2, 80, 2);
        color:  rgb(241, 175, 89);
        text-align: center;
        width: 90%;
        margin: auto;
        margin-top: 2%;

        > :nth-child(1){
            margin-left: -5%;
        }

        > :nth-child(2){
            margin-left: 6%;
        }

        > :nth-child(3){
            margin-left: 8%;
        }

        > p{
            margin: 1%;
            width: 15%;
            display: inline-block;
            font-size: 1.2rem;
        }
    }


    & > .cart-listWithOrders{

        width: 90%;
        margin: 0 auto;

        > .cart-content{ 

            display: flex;
            width: 100%;
            min-height: 6vh;
            background-color: green;
            color: white;
            font-size: 1.4rem;
            border: 1px solid rgb(2, 80, 2);
            align-items: center;

            > img{
                width: 2.5vw;
                height: 13vh;
                margin: 1% 4%;
            }

            > :nth-child(3){
                flex-basis: 40%;
                overflow: hidden;
                margin-left: 6%;
                margin-right: 5%;
            }

            > :nth-child(4){
                flex-basis: 10%;
                margin-left: 8%;
                margin-right: 5%;
            }

            > :nth-child(5){
                margin-left: 2%;
            }

            > :nth-last-child(1){
                margin-left: 8%;
                margin-right: 4%;
                flex-basis: 15%;
            }

            > button{

                @include greenButton(1.5rem, 1%);
                margin: 0 1%;
                flex-basis: 7%;

                &:hover{
                    @include greenButtonHover();
                    background-color: brown;
                }
            }
        }
    }


    > .cart-recapCosts{

        margin: 3% 0 3% 0;
        margin-left: 77%;

        > p{
            text-transform: uppercase;
            color: brown;
            display: inline-block;
            font-size: 1.2rem;
        }

        > .sum{
            font-weight: bold;
            color: black;
            margin-left: 7%;
            font-size: 1.2rem;
        }
    } 


    & > .cart-buttons1{

        margin:auto;
        text-align: center;
    
        > p{
            font-size: 1.5rem;
            text-transform: none;
            font-weight: bold;
            display: inline-block;
        }

        > a{
            @include greenButton(1.2rem, 0.5%);
            padding: 1% 1.25%;
            box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
            font-weight: bold;
            display: inline-block;

            &:hover{
                @include greenButtonHover();
                background-color: brown;
            }

           
        }
    }


    & > .cart-buttons2{

        width: 100%;
        margin: 4% 0 2% 4%;

        > a{
            @include greenButton(1.2rem, 0.5%);
            padding: 1%;
            box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
            font-weight: bold;

            &:hover{
                @include greenButtonHover();
                background-color: brown;
            }

           &:nth-child(2){
               margin-left: 45%;
           }
        }
    }
}


