
.shopping-cart{

    width: 95%;
    min-height: 70vh;
    background-color: rgba(50, 205, 50, 0.9);
    padding-top: 10%;
    box-shadow: 3px 3px 5px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5%;


    & > .cart-progressBar{

        width: 60%;
        height: 5%;
        background-color: yellowgreen;
        margin: 5% auto ;
    }

}


